* {
  font-family: 'Kalam', cursive;
}

body {
  background-color: #5497A7;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sticky-container {
  width: 100%;
}